/* Global config */
@import "config/variables"; // Your custom variables
@import "config/colors"; // Your custom color scheme
@import "config/settings"; // Default settings file. Uncomment each setting you need to change

/* Foundation 5 */
@import "foundation"; // Foundation 5 by Zurb

/* Site structure */
@import "site/structure"; // Your site structure