/**
 * Table of Contents for custom theme:
 *
 * 1.0 - Variables and mixins
 * 2.0 - Repeatable Patterns
 * 3.0 - Typography
 * 4.0 - Header, sidebar and footer
 * 5.0 - Content
 *	5.1 - Pages
 *	5.2 - Posts
 *	5.3	- Widgets
 *	5.4 - Comments
  *	5.5 - Lists
  * 5.6 - Forms
 * 6.0 - Custom styling for plugins
 * 7.0 - Media Queries

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Variables and mixins
 * ----------------------------------------------------------------------------
 */

$body-bg: #fff;
$body-font-color: #222;
$body-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;