$dark-grey: #2c3840;
$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$offcanvas-background: $dark-grey;
$titlebar-background: $dark-grey;
$titlebar-color: $white;
$titlebar-icon-color: $white;
$titlebar-icon-color-hover: $medium-gray;
$topbar-padding: 0;
$topbar-background: $dark-grey;
$topbar-submenu-background: $dark-grey;
