#front-hero {

	.marketing {
		@include grid-row();
	}

	@media #{$small-up} {
		background: url("../images/demo/marquee-stars.svg") repeat scroll 0 0 #074E68;
		padding: rem-calc(65%) 0;
		margin: - rem-calc(32) 0 rem-calc(32);
		position: relative;
		text-align: left;
	}

	@media #{$medium-up} {
		height: rem-calc(400);
		margin: - rem-calc(32) 0 rem-calc(72);
	}

	#watch {
		section {
			display: inline;
		}

		a {
			color: #B4C9D1;
			cursor: pointer;
			font-weight: 400;
			margin-right: rem-calc(20);
		}

		a:hover {
			color: #fff;
		}

		#stargazers {
			:before {
				content: "\f09b";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: #B4C9D1;
				margin-right: rem-calc(8);
			}
		}

		#twitter {
			:before {
				content: "\f099";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: #B4C9D1;
				margin-right: rem-calc(8);
			}
		}

	}

	.tagline {

		@media screen and (min-width: 320px) and (max-width: 640px) {
			@include grid-column(12);
		}

		@media screen and (min-width:641px) and (max-width: 870px) {
			@include grid-column(9);
		}

		@media screen and (min-width: 871px) {
			@include grid-column(5);
		}
	}

		h1 { font-weight: 500; }

		h1 a, h4 { color: #fff; }

		.fpmock img {
			@media screen and (max-width: 870px) {
				display: none;
			}

			position: absolute;
			top:rem-calc(21);
		}

		.download { margin-top: rem-calc(20); }

	}
