/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, sidebar and footer
 * 4.0 - Content
 *	4.1 - Pages
 *	4.2 - Posts
 *	4.3	- Widgets
 *	4.4 - Comments
  *	4.5 - Lists
  * 4.6 - Forms
 * 5.0 - Plugins

 * ----------------------------------------------------------------------------
 */



/**
 * 1.0 Custom settings
 * ----------------------------------------------------------------------------
 */


// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}


// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(32);
}

// Fix the issue where the WP adminbar overlaps the mobile menu
#wpadminbar {
	position: fixed !important;
}

/**
 * 2.0 Typography
 * ----------------------------------------------------------------------------
 */

// Insert styles here


/**
 * 3.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */

// A more subtle background color for the active menu item
.top-bar-section li.active:not(.has-form) a:not(.button)  {
	background: #272727;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: #202020;
}

// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
	}
}


/**
 * 4.0 Content
 * ----------------------------------------------------------------------------
 */


	/**
	 * 4.1 Pages
	 * ------------------------------------
	 */

	 // Hero

	#homepage-hero {
		background: url("http://foundation.zurb.com/assets/img/marquee-stars.svg") repeat scroll 0 0 #074E68;
		padding: rem-calc(20) 0;
		margin: - rem-calc(32) 0 rem-calc(32);
		position: relative;
		text-align: left;
		height: auto;

			h1 a, h4 { color: #fff; }

			.floatingyeti img {
				max-width: 30%;
				position: absolute;
				right: rem-calc(100);
			}

			.download { margin-top: rem-calc(20); }
		}


	/**
	 * 4.2 Posts
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.3 Widgets
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.4 Comments
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.5 Lists
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.6 Forms
	 * ------------------------------------
	 */

	// Insert styles here


/**
 * 5.0 Plugins
 * ----------------------------------------------------------------------------
 */

// Insert styles here