/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Typography
 * 2.0 - Header, sidebar and footer
 * 3.0 - Content
 *	3.1 - Pages
 *	3.2 - Posts
 *	3.3	- Widgets
 *	3.4 - Comments
  *	3.5 - Lists
  * 3.6 - Forms
 * 4.0 - Plugins

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Typography
 * ----------------------------------------------------------------------------
 */

// Insert styles here


/**
 * 2.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */

// Insert styles here


/**
 * 3.0 Content
 * ----------------------------------------------------------------------------
 */


/**
 * 3.1 Pages
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.2 Posts
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.3 Widgets
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.4 Comments
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.5 Lists
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.6 Forms
 * ------------------------------------
 */

// Insert styles here


/**
 * 4.0 Plugins
 * ----------------------------------------------------------------------------
 */

// Insert styles here